// Primary colours
$color-bright-blue: hsl(220, 98%, 61%);
$color-check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Light Theme Colours
$light-theme-very-light-gray: hsl(0, 0%, 98%);
$light-theme-very-light-grayish-blue: hsl(236, 33%, 92%);
$light-theme-light-grayish-blue: hsl(233, 11%, 84%);
$light-theme-dark-grayish-blue: hsl(236, 9%, 61%);
$light-theme-very-dark-grayish-blue: hsl(235, 19%, 35%);

// Dark Theme
$dark-theme-very-dark-blue: hsl(235, 21%, 11%);
$dark-theme-very-dark-desaturated-blue: hsl(235, 24%, 19%);
$dark-theme-light-grayish-blue: hsl(234, 39%, 85%);
$dark-theme-light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-theme-dark-grayish-blue: hsl(234, 11%, 52%);
$dark-theme-very-dark-grayish-blue: hsl(233, 14%, 35%);
$dark-theme-very-dark-grayish-blue: hsl(237, 14%, 26%);

// Typography
$default-font-stack: 'Josefin Sans', sans-serif;

// Body Copy
$body-font-size: 1.125em; // 18px

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $default-font-stack;
  font-size: $body-font-size;
  line-height: 1.5em;
  background-color: $dark-theme-very-dark-blue;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $default-font-stack;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.header {
  background-image: url('../images/bg-desktop-dark.jpg');
  background-size: cover;
  height: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  position: relative;
  top: -190px;
  padding: 1em;
}

.app {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
  }

  &__theme-changer {
    margin-top: 0;
  }

  &__theme-changer:hover {
    cursor: pointer;
  }

  &__input-wrapper {
    background-color: $dark-theme-very-dark-desaturated-blue;
    padding: 0.8em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;

    & .app__input-box {
      width: 90%;
    }
  }

  &__main-wrapper {
    border-radius: 8px;
    margin-top: 1em;
    -webkit-box-shadow: 1px 10px 15px 3px rgba(22,23,34,1);
    -moz-box-shadow: 1px 10px 15px 3px rgba(22,23,34,1);
    box-shadow: 1px 10px 15px 3px rgba(22,23,34,1);
  }

  &__input-ring {
    display: block;
    height: 25px;
    width: 25px;
    border: 1px solid $dark-theme-very-dark-grayish-blue;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__input-box {
    margin-top: 0;
    background-color: $dark-theme-very-dark-desaturated-blue;
    border: unset;
    color: $dark-theme-light-grayish-blue;
    font-family: $default-font-stack;
    font-size: 18px;
  }

  &__input-box::placeholder {
    color: $dark-theme-dark-grayish-blue;
  }

  &__list-item-wrapper {
    background-color: $dark-theme-very-dark-desaturated-blue;
    padding: 0.8em;
    margin: 0;
    border-bottom: 1px solid $dark-theme-very-dark-grayish-blue;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__list-item-wrapper:first-child{
    border-radius: 8px 8px 0 0;
  }

  &__complete-toggler.completed {
    background-image: url('../images/icon-check.svg'), $color-check-background;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__complete-toggler:hover {
    cursor: pointer;
    /* You cannot use border-radius with gradient
    The following solution was achieved from the link below:
    https://stackoverflow.com/questions/51496204/border-gradient-with-border-radius */
    background:
     linear-gradient(#25273c, #25273c) padding-box,
     linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    border: 1px solid transparent;
  }

  &__todo-item {
    margin-top: 0;
    color: $dark-theme-light-grayish-blue;
    cursor: pointer;
  }

  &__todo-item.completed {
    text-decoration: line-through;
    color: $dark-theme-dark-grayish-blue;
  }

  &__delete-item {
    height: 26px;
    width: 26px;
    margin-top: 0;
    position: absolute;
    right: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    background-color: $dark-theme-very-dark-desaturated-blue;
    padding: 0.8em;
    font-size: 15px;
    color: $dark-theme-dark-grayish-blue;
  }

  &__menu--primary {
    margin-top: 0;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;

    & .app__menu__middle-wraper {
      margin-top: 0;
      display: none;

      & .app__all-list,
      & .app__active,
      & .app__completed {
        margin-top: 0;
      }

      & .app__active, & .app__completed {
        margin-top: 0;
        margin-left: 1em;
      }
    }

    & .app__all-list:hover,
    & .app__active:hover,
    & .app__completed:hover,
    & .app__clear-completed:hover {
      cursor: pointer;
      font-weight: bold;
      color: $dark-theme-light-grayish-blue-hover;
    }

    & .app__clear-completed {
      margin-top: 0;
    }
  }

  &__menu--secondary {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 1px 10px 15px 3px rgba(22,23,34,1);
    -moz-box-shadow: 1px 10px 15px 3px rgba(22,23,34,1);
    box-shadow: 1px 10px 15px 3px rgba(22,23,34,1);

    & .app__active, & .app__completed {
      margin-top: 0;
      margin-left: 1em;
    }

    & .app__all-list,
    & .app__active,
    & .app__completed {
      font-weight: 700;
    }

    & .app__all-list.active,
    & .app__active.active,
    & .app__completed.active {
      color: $color-bright-blue;
    }
  }
}

footer {
  margin-top: 1.5em;
  margin-bottom: 10em;

  .attribution {
    font-size: 11px;
    text-align: center;
    padding: 0.8em;
  }

  .attribution, .attribution a {
    // color: $color-very-dark-grayish-blue;
  }

  .attribution a:hover,
  .attribution a:focus,
  .attribution a:active {
    // color: $color-very-dark-blackish-blue;
  }

  .attribution span {
     display: block;
  }

  .attribution span + span {
     margin-top: 0;
  }
}

// Temp media query
@media (min-width: 800px) {
  .app {
    width: 50%;

    &__menu--primary {

      & .app__menu__middle-wraper {
        display: block;
      }
  }
  &__menu--secondary {
    display: none;
  }
}
}
